/*.color1 { #72bab0 };
.color2 { #f0c69c };
.color3 { #d1284f };
.color4 { #9e0e30 };
.color5 { #301a1a };*/

@font-face {
    font-family: 'Raleway';
    src: url("../fuentes/Raleway/Raleway-VariableFont_wght.ttf");
}

body{
    margin: 0;
}

#bodyindex{
    background-image: url("../img/fondo-index.png");
    background-size: cover;

}

/*--- CSS CORRESPONDIENTE A INDEX.HTML ---*/

.navbar{
    padding-inline: 200px;
    background-attachment: fixed;
    background-color: #f0c69c;
}

.nav-link{
    margin-left: 20px;
}

.nav-link:hover{
    color: #f0c69c;
}

.navbar-img{
    width: 150px;
    margin-right: 20px;
}

.icon_navbar{
    float: inline-start;
}

#account{
    font-size: 2.2rem;
    margin-right: 5px;
}

.align_icons{
    display: flex;
    align-items: center;
}

.form-inline{
    display: flex;
    align-items: center;
}

.form-control{
    width: 600px;
}

@media (max-width: 1750px) {
    .form-control{
        width: 400px;
    }
  }

@media (max-width: 1500px) {
    .navbar{
        padding-inline: 40px;
    }
  }

@media (max-width: 1250px) {
    .form-control{
        display: none;
    }
}
  

.form-control:focus{
    border-color: #f0c69c;
    box-shadow: 0 0 0 0.2rem rgba(240, 198, 156, 0.4);
}

.nav-search{
    text-decoration: none;
    color: #f0c69c;
    margin-left: 5px;
}

.container{
    position: relative;
    top: 35vw;
    height: 1000px;
    padding-bottom: 50px;
}

.card{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #f0c69c;
}

.card-text:last-child{
    color: #f3dbc3;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.15rem;
}

.card-title{
    margin-bottom: 0;
}

.btn{
    margin: 0;
}

.btn-title{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-indicators, .carousel-arrow{
    visibility: hidden;
}

.card:hover .carousel-indicators, .card:hover .carousel-arrow{
    visibility: visible;
}


/*--- CSS CORRESPONDIENTE A LOGIN.HTML ---*/

main{
    background-image: none;
    background-color: white;
}

.ventana{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ventana-form, .ventana-extra{
    width: 50%;
    margin: 0;
    height: 100vh;

}

.ventana-form{
    background-color: #f0c69c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventana-extra{
    background: linear-gradient(#9e0e30, #301a1a);
}

.form{
    width: 65%;
    height: 75%;
    border-radius: 20px;
    background-color: white;
    font-family: 'Raleway';
}

.form-title{
    margin: 40px;
}

.form input{
    height: 50px;
    margin-bottom: 30px;
    margin-top: 5px;
}

#form-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
}